@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: white;
  color: black;
}

/* Brutalist utilities */
.border-thick {
  border-width: 4px;
}

.font-black {
  font-weight: 900;
}
